/* Table of Contents
––––––––––––––––––––––––––––––––––––––––––––––
- General Content
- Typography
- Header & Navigation
- Images & Media
- Footer
- Media Queries
–––––––––––––––––––––––––––––––––––––––––––––– */

/* General Content
–––––––––––––––––––––––––––––––––––––––––––––– */
.main{padding-top: 3%;}
.row{padding: 2% 0;}
.green{background-color: #0000FF;}
/* Typography
–––––––––––––––––––––––––––––––––––––––––––––– */
body{
	font-size: 1.5em;
	color: #fff;
	background-color: #0000FF;
}
/* Header & Navigation
–––––––––––––––––––––––––––––––––––––––––––––– */
header.main_nav{	
	padding: 1% 0;
	display: block;
	border-bottom: 1em #0000FF;
}
h2 {
	font-family: cursive;, sans-serif;
	font-size: 3em;
	margin: 0.67em;
}
h2.bio {color: #3f7f7c;
p.bio {color: #fff;}
}

.logo{
	margin: 5% auto;
	text-align: center;
	color: #fff;
	font-size: 1.5em;
}
.logo a{
	font-family: 'Cabin Sketch', cursive;
	font-size: 2em;
	text-decoration: none;
	border-top: 3px solid #fff;
	border-bottom: 3px solid #fff;
	color: #fff;
	text-transform: uppercase;
	padding: 2px 10px 0 10px;
	margin: 0;
	text-shadow:0px 0px 70px red;
}
.logo a:hover{background-color: #fff;
	color:#7acc8c;
}
.topnav a {
    float: right;
    color: white;
    display: block;
    text-align: center;
    padding: .2em;
    line-height: 1em;
    text-decoration: none;
    font-size: 1em;
    border-left: 1px solid #fff;
}
.topnav a:hover {
     color: gray;
}
.zoom {
	width: 7em;
	height: 7em;
	float: left;
	padding-top: 1em;
}
.Header {
	text-align: center;
}
.Header span {
	top: 50%;
   left: 50%;
	font-size: 2em;
	color: 000;
}
.triangle-container {
 	width: 200px;
    height: 200px;
    position: relative;
    border-top: 4px solid #fff;
}
.triangle {
    position: absolute;
    margin: auto;
    top: -70px;
    left: 0;
    right: 0;
    width: 137px;
    height: 137px;
    transform: rotate(45deg);
    -webkit-transform: rotate(45deg);
    -moz-transform: rotate(45deg);
    -o-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    border-right: 4px solid #fff;
    border-bottom: 4px solid #fff;
}

/* Images & Media

–––––––––––––––––––––––––––––––––––––––––––––– */

/*svg{color: white;}*/

img{max-width: 100%;}
img.avatar{	border-radius: 400px;
			border: 5px solid #fff;}
img:hover {opacity: 0.8;}

/* Footer
–––––––––––––––––––––––––––––––––––––––––––––– */
ul.social{
	display: block;
	margin:5% 0;
	list-style-type: none;
	text-align: center;
}
ul.social li{
	font-size: 3em;
	display: inline;
	padding: 0 2%;
}
ul.social li a{
	color: #ececec;
}
ul.social li.twitter a:hover{color: rgb(0,172,237);}
ul.social li.github a:hover{color: rgb(255,0, 132);}
ul.social li.linkedin a:hover{color: rgb(0, 123,182);}
ul.social li.envelope a:hover{color: rgb(187,0,0);}

p.copyright{
	text-align: center;
	color: #666;
	font-size: 1em;
}
/* Media Queries
–––––––––––––––––––––––––––––––––––––––––––––– */
